<a href="https://colab.research.google.com/github/Saturn-space/Saturn-space/blob/Python/3.%20Tuple(20_01_2026).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# creating and manipulating tuple.

immutable = ('happy', 'birthday', 'to', 'you')
print(immutable)

('happy', 'birthday', 'to', 'you')

In [ ]:
# accesing using index values:
print(immutable[0])
print(immutable[1])
print(immutable[2])
print(immutable[3])

happy
birthday
to
you

In [ ]:
#slicing funtion in tuple
print(immutable[-2])
print(immutable[0:4])
print(immutable[-4:-1])
print(immutable[:-1])
print(immutable[:3])
print(immutable[1:2])

to
('happy', 'birthday', 'to', 'you')
('happy', 'birthday', 'to')
('happy', 'birthday', 'to')
('happy', 'birthday', 'to')
('birthday',)

In [ ]:
for i in immutable:
  print(i)

happy
birthday
to
you

In [ ]:
# immutable[-1]="Mohan"
# print(immutable)

TypeError: 'tuple' object does not support item assignment

In [ ]:
mutable = list(immutable)
print(mutable)
mutable[-1] = "Mohan"
print(mutable)
mutable.index("Mohan")
mutable.insert(3,"Rohan")
print(mutable)

['happy', 'birthday', 'to', 'you']
['happy', 'birthday', 'to', 'Mohan']
['happy', 'birthday', 'to', 'Rohan', 'Mohan']

In [ ]:
for i in mutable:
  print(i)

happy
birthday
to
Rohan
Mohan

In [ ]:
tu = ("happy")
print(type(tu))
tu2 = ('happy','')
print(type(tu2))

<class 'str'>
<class 'tuple'>

In [ ]:
numbers = (12,34,65,23,21)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

12
65

In [ ]:
integers = (22,66,67,56,57)
print("First element =",integers[0])
print("lastt element =",integers[-1])
print("length =",len(integers))
print("sorted tuple =",sorted(integers))

First element = 22
lastt element = 57
length = 5
sorted tuple = [22, 56, 57, 66, 67]

In [ ]:
marks = (77,67,88,99,54)
total = sum(marks)
average = total/len(marks)
print("total marks of the student = ",total)
print("average marks of the student = ",average)

total marks of the student =  385
average marks of the student =  77.0

In [ ]:
names = []
for i in range (5):
  a = input("Enter Your name ")
  names.append(a)
print(names)

hello = tuple(names)
print(hello)

Enter Your name rt
Enter Your name ty
Enter Your name ui
Enter Your name yi
Enter Your name yu
['rt', 'ty', 'ui', 'yi', 'yu']
('rt', 'ty', 'ui', 'yi', 'yu')

In [ ]:
items = []
for i in range(5):
  a = int(input("enter the values "))
  items.append(a)
print(items)
print(items[::-1])
print(items[-2:]+items[2:3]+items[0:2])

enter the values 1
enter the values 2
enter the values 3
enter the values 4
enter the values 5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 5, 3, 1, 2]