<a href="https://colab.research.google.com/github/Saturn-space/Saturn-space/blob/Python/4.%20Sets%20(22_01_2026).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# manipulating set

colours = {"red","yellow","green"}
print(colours)

new_colours = set(("red","yellow","green","blue"))
print(new_colours)

{'red', 'green', 'yellow'}
{'red', 'green', 'yellow', 'blue'}

In [ ]:
colours.add("violet")
print(colours)

{'violet', 'red', 'green', 'yellow'}

In [ ]:
for x in colours:
  print(x)

for x in colours:
  print(colours)

violet
red
green
yellow
{'violet', 'red', 'green', 'yellow'}
{'violet', 'red', 'green', 'yellow'}
{'violet', 'red', 'green', 'yellow'}
{'violet', 'red', 'green', 'yellow'}

In [ ]:
alphabet = {"A","B","C"}
numbers = {1,2,3,4}

alphabet.add("D")
print(alphabet)

alphabet.update(numbers)
print(alphabet)

alphabet.remove("D")
print(alphabet)

alphabet.pop()
print(alphabet)

#alphabet.clear()
del alphabet

alphabet = {"A","B","C"}
print(alphabet)

{'B', 'D', 'A', 'C'}
{1, 2, 3, 4, 'D', 'A', 'C', 'B'}
{1, 2, 3, 4, 'A', 'C', 'B'}
{2, 3, 4, 'A', 'C', 'B'}
{'B', 'A', 'C'}

In [ ]:
data = set()

for i in range(5):
  i = input(f"Enter Any 5 value, name or number ({i+1} of 5): ")
  data.add(i)

print(data)

Enter Any 5 value, name or number (1 of 5): happy
Enter Any 5 value, name or number (2 of 5): sad
Enter Any 5 value, name or number (3 of 5): Good
Enter Any 5 value, name or number (4 of 5): Great
Enter Any 5 value, name or number (5 of 5): Superb
{'happy', 'Great', 'Superb', 'sad', 'Good'}

In [ ]:
garbage = input("enter the value you want to delete: ")
data.remove(garbage)
print(data)

enter the value you want to delete: sad
{'happy', 'Great', 'Superb', 'Good'}

In [ ]:
# playting with dictionary

objects = {
    "A":"Apple",
    "B":"Ball",
    "C":"Cat",
    "D":"Dog"
}

print(objects)
print(objects)
print(objects["A"])

obj2 = {
    "size" :(20,30,40),
    "brand" : ("A1","B2","C3")
}
print(obj2)
print(obj2["size"])

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog'}
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog'}
Apple
{'size': (20, 30, 40), 'brand': ('A1', 'B2', 'C3')}
(20, 30, 40)

In [ ]:
objects.keys()
objects.values()
objects.items()

print(objects.keys())
print(objects.values())
print(objects.items())

dict_keys(['A', 'B', 'C', 'D'])
dict_values(['Apple', 'Ball', 'Cat', 'Dog'])
dict_items([('A', 'Apple'), ('B', 'Ball'), ('C', 'Cat'), ('D', 'Dog')])

In [ ]:
objects["A"] = "Ant"
print(objects)

objects.update(obj2)
print(objects)

obj2.update({"B":"Bat"})
print(obj2)

objects.update({"B":"Bat"})
print(objects)

{'A': 'Ant', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'size': (20, 30, 40), 'brand': ('A1', 'B2', 'C3')}
{'A': 'Ant', 'B': 'Bat', 'C': 'Cat', 'D': 'Dog', 'size': (20, 30, 40), 'brand': ('A1', 'B2', 'C3')}
{'size': (20, 30, 40), 'brand': ('A1', 'B2', 'C3'), 'B': 'Bat'}
{'A': 'Ant', 'B': 'Bat', 'C': 'Cat', 'D': 'Dog', 'size': (20, 30, 40), 'brand': ('A1', 'B2', 'C3')}

In [ ]:
#objects.pop("size")
print(objects.pop("brand"))

('A1', 'B2', 'C3')

In [ ]:
for x in objects:
  print(x)

for x in objects.keys():
  print(x)

for x in objects.values():
  print(x)

for x,y in objects.items():
  print(x,y)

print(objects)

A
B
C
D
A
B
C
D
Ant
Bat
Cat
Dog
A Ant
B Bat
C Cat
D Dog
{'A': 'Ant', 'B': 'Bat', 'C': 'Cat', 'D': 'Dog'}

In [ ]:
family = {
    "father":{"Name": "Ram",
              "Age":39,
              "Home": "Bihar"},
    "mother":{"Name": "sita",
              "Age":38,
              "Home": "Bihar"},
    "son":{"Name": "Hanu",
              "Age":12,
              "Home": "Bihar"}
}

print(family)
print()
print(family.items())
print()
print(family.values())
print()
print(family.keys())
print()
print(f"father name  is {family["father"]["Name"]}")

{'father': {'Name': 'Ram', 'Age': 39, 'Home': 'Bihar'}, 'mother': {'Name': 'sita', 'Age': 38, 'Home': 'Bihar'}, 'son': {'Name': 'Hanu', 'Age': 12, 'Home': 'Bihar'}}

dict_items([('father', {'Name': 'Ram', 'Age': 39, 'Home': 'Bihar'}), ('mother', {'Name': 'sita', 'Age': 38, 'Home': 'Bihar'}), ('son', {'Name': 'Hanu', 'Age': 12, 'Home': 'Bihar'})])

dict_values([{'Name': 'Ram', 'Age': 39, 'Home': 'Bihar'}, {'Name': 'sita', 'Age': 38, 'Home': 'Bihar'}, {'Name': 'Hanu', 'Age': 12, 'Home': 'Bihar'}])

dict_keys(['father', 'mother', 'son'])

father name  is Ram

In [ ]:
#questions:

#1.
attendance = {
    "Ram":"Present",
    "shayam":"Present",
    "Mohan":"Absent",
    "Rohan":"Absent",
    "Sohan":"Present"
}
count = 0
for x in attendance:
  if attendance[x] == "Absent":
    print(attendance[x])
    count+=1

print(f"Total number of student Absent: {count}")

Absent
Absent
Total number of student Absent: 2

In [ ]:
Ram = {
    "Maths": 80,
    "Science": 70,
    "English": 60,
    "Geography":55,
    "Compter Science" : 99
}
average = sum(Ram.values())/len(Ram)
print(average)

72.8

In [ ]:
Marks = {
    "Ram":{
        "Maths": 80,
        "Science": 70,
        "English": 60,
        "Geography":55,
        "Compter Science" : 99
    },
    "shyam":{
        "Maths": 80,
        "Science": 70,
        "English": 60,
        "Geography":55,
        "Compter Science" : 99
    },
    "Gopal":{
        "Maths": 80,
        "Science": 70,
        "English": 60,
        "Geography":55,
        "Compter Science" : 99
    },
    "Radhe":{
        "Maths": 80,
        "Science": 70,
        "English": 60,
        "Geography":55,
        "Compter Science" : 99
    },
    "Jindal":{
        "Maths": 80,
        "Science": 70,
        "English": 60,
        "Geography":55,
        "Compter Science" : 99
    }
}