<a href="https://colab.research.google.com/github/Saturn-space/Saturn-space/blob/Python/5.%20Practise%20Questions%20(27_01_26).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Practise Questions:
#A. conditional statement

In [ ]:
#1. Check whether a number is even or odd

num = int(input("Enter a number: "))

if(num==0):
  print(f"The number is {num} which is nither odd or even")

elif(num%2==0):
  print(f"The number {num} is even")

else:
  print(f"The given number {num} is odd")

Enter a number: 22
The number 22 is even

In [ ]:
#2. check whether a number is positive, negative or zero.

var = int(input("Enter any integer of your choise: "))

if(var>0):
  print(f"The Given integer {var} is positive")
elif(var<0):
  print(f"The Given integer {var} is negative")
else:
  print(f"The Given integer {var} is Zero")

Enter any integer of your choise: 000
The Given integer 0 is Zero

In [ ]:
#3. Find the largest of two numbers

value_1 = int(input("Enter first value: "))
value_2 = int(input("Enter second value: "))

if(value_1>value_2):
  print(f"value_1 i.e {value_1} is greater than value_2 i.e {value_2}")
elif(value_2>value_1):
  print(f"value_2 i.e {value_2} is greater than value_1 i.e {value_1}")
else:
  print(f"Both the values is equal i.e {value_1} = {value_2}")

Enter first value: 56
Enter second value: 56
Both the values is equal i.e 56 = 56

In [ ]:

#4. find the largest of three numbers using nested-if
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))

if(a>b):
  if(a>c):
    print(f"{a} is greater than {b} and {c}")
  else:
    print(f"{a} is greater than {b} but not {c}")

elif(b>a):
  if(b>c):
    print(f"{b} is greater than {a} and {c}")
  else:
    print(f"{b} is greater than {a} but not {c}")

else:
  if(c>a):
    print(f"{c} is greater than {a} and {b}")
  else:
    print(f"{c} is greater than {a} but not {b}")

Enter the first number50
Enter the second number50
Enter the third number100
100 is greater than 50 and 50

In [ ]:
#5. Check voting eligibility (age>=18)
age = int(input("Enter your age : "))

if(age>=18):
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age : 0
You are not eligible to vote

In [ ]:
#EXTRA  GCD: Greates Common Divisor
a = int(input("Enter a value: "))
b = int(input("Enter a value: "))
while(b!=0):
   c = b
   b = a % b
   a = c
   print(b)

print(a)

Enter a value: 36
Enter a value: 60
36
24
12
0
12

In [ ]:
#6. check pass or fail (pass marks = 40)
marks = int(input("enter you marks"))

if(marks>=40):
  print("You have passed with flying colours")
else:
  print("sorry you have faile")

enter you marks43
You have passed with flying colours

In [ ]:
#7	Check whether a year is a leap year
year = int(input("enter the year :" ))

if(year%4==0):
  print("It is a leap year")
else:
  if(year%100==0):
    print("It is a leap year")
  else:
    print("it is not a leap year")

enter the year :2011
it is not a leap year

In [ ]:
#8	Check whether a number is divisible by 5 and 11
value = int(input("Enter the value: "))
if(value%5==0 or value%7==0):
  if(value%5==0):
    print("The value is divisible by 5")
  elif(value%5==0):
    print("The value is divisible by 7")
else:
  print("The value is not divisible by either 5 or 7")

Enter the value: 10
The value is divisible by 5

In [ ]:
# 9	Display grade based on marks
marks = float(input("Enter your average marks: "))
match marks:
  case marks if marks>=90:
    print("Wow its Grade O")
  case marks if marks>=80:
    print("Wow its Grade A")
  case marks if marks>=70:
    print("Wow its Grade B")
  case marks if marks>=60:
    print("Wow its Grade C")
  case marks if marks>=50:
    print("Wow its Grade D")
  case marks if marks<50:
    print("oops Failed it Grade F")

Enter your average marks: 90.99
Wow its Grade O

In [ ]:
# 10	Check whether a character is a vowel or consonant
char = input("Enter any charcater : ")[0]    #it takes a single input
print(char)
if(char.lower() in  "aeiou"): # or operator does not work here so either <-- this or compare char.lower() to every character.
  print("Its a vowel")
else:
  print("Its a consonant")

Enter any charcater : ii
i
Its a vowel

In [ ]:
#extra
# import msvcrt
# print("Press any key...")
# char = msvcrt.getch().decode('utf-8')
# print(f"You pressed: {char}")

In [ ]:
#B.  Control Statement

In [ ]:
# 1.  Print numbers from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2.	Print even numbers between 1 and 50
even = []
odd = []
for i in range(2,50):
  if(i%2==0):
    even.append(i)
  else:
    odd.append(i)

print(f"Even numbers between 1 and 50 are: {even} \n")
print(f"Odd numbers between 1 and 50 are: {odd}")

Even numbers between 1 and 50 are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

Odd numbers between 1 and 50 are: [3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 3.	Print the multiplication table of a number
num = int(input("Enter a number : "))
for i in range(1,11):
  print(f"{num} * {i} = {num*i}")

Enter a number : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
# 4.	Find the sum of first N natural numbers
natural = int(input("Enetr the n'th term : "))
result = 0
for i in range(1,natural+1):
  result+=i
print(result)

Enetr the n'th term : 12345
76205685

In [ ]:
# 5.	Count the number of digits in a number
num = input("Enter the number: ")
print(f"Total number of digitis in {num} = {len(num)}")

Enter the number: 123456789
Total number of digitis in 123456789 = 9

In [ ]:
# 6.	Print factors of a number
num = int(input("enter the number: "))
print(f"The factors of the {num} are :")
for i in range(1,num):
  if num%i == 0:
    print(i)

enter the number: 90
The factors of the 90 are :
1
2
3
5
6
9
10
15
18
30
45

In [ ]:
# 7.	Find the factorial of a number
num = int(input("Enter a number : "))
result=1
for i in range(1,num+1):
  result *= i
print(f"The Factorial of {num} is : {result}")

Enter a number : 5
The Factorial of 5 is : 120

In [ ]:
# 8.	Check whether a number is prime
num = int(input("Enter a number : "))
flag = 0
for i in range(2,num):
  if(num%i == 0):
    flag+=1
if(flag==0):
  print(f"The number {num} is prime")
else:
  print(f"The number {num} is not prime")

Enter a number : 99
The number 99 is not prime

In [ ]:
# 9.	Print the Fibonacci series
a=0
b=1
num = int(input("Enter the range : "))
print(f"The fibbonacci series upto {num}'th temm are as follows :")
for i in range (1,num+1):
  print(a,end=", ")
  c=a+b
  a=b
  b=c

Enter the range : 9
The fibbonacci series upto 9'th temm are as follows :
0, 1, 1, 2, 3, 5, 8, 13, 21,

In [ ]:
# 10.	Reverse a number
num =  input("enter a number : ")
l=len(num)
for i in num:
  print(num[l-1],end="")
  l-=1

enter a number : 987654321
123456789