<a href="https://colab.research.google.com/github/Saturn-space/Saturn-space/blob/Python/6.%20Programs%20(17_02_2026).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. program to varify single digit exist in a list if more than single exits add them and print the new list.

number = [22,4,53,87,34,2]

def sum(arg):
  new_number = []

  for i in arg:
      if(i>=10 and i<=99):
        value = 0;
        while i!=0:
          value += i%10
        new_number.append(value)

      else:
        new_number.append(i)

  return new_number

# new_num = sum(number)
# print(new_num)
new_number = []
for i in number:
      if(i>=10 and i<=99):
        value = 0;
        while i!=0:
          value += i%10
          i = i//10;
        new_number.append(value)
      else:
        new_number.append(i)

print(new_number)

[4, 4, 8, 15, 7, 2]

In [ ]:
#2. Program to add items along with some details and find the total payable amount.

stock = {}

def items():
  n = int(input("Enter the number of items :  "))

  for i in range(n):
    id = int(input("Enter the Product ID : "))
    name = input("Enter the Product Name : ")
    price = int(input("Enter the Product Price : "))
    Qty = int(input("Enter the Product Quntity : "))
    Brand = input("Enter the Product Brand : ")

    stock[id] = [name,price,Qty,Brand]

  print(stock)

def total():
  sum = 0
  for i in stock.values():
    sum += i[1]*i[2]

  print(f"Total Payable Amount : ${sum}")

items()
total()

Enter the number of items :  3
Enter the Product ID : 1001
Enter the Product Name : Apple
Enter the Product Price : 1200
Enter the Product Quntity : 1
Enter the Product Brand : Iphone
Enter the Product ID : 1002
Enter the Product Name : Ball
Enter the Product Price : 500
Enter the Product Quntity : 2
Enter the Product Brand : Cosco
Enter the Product ID : 1003
Enter the Product Name : 200
Enter the Product Price : 50
Enter the Product Quntity : 2
Enter the Product Brand : sample
{1001: ['Apple', 1200, 1, 'Iphone'], 1002: ['Ball', 500, 2, 'Cosco'], 1003: ['200', 50, 2, 'sample']}
1200
500
50
Total Payable Amount : $2300